<div class="container">

        <div class="banner">
                <div style=" vertical-align: middle;display:table-cell;text-align:center;">
                    -MONETATE BANNER-
                </div>
            </div>
                <div class="upgradeBox">
                        
                            <ul class="list-inline profile-checks">
                                <li class="list-inline-item profile-links">Upgrade now and get access to:</li>
                                <li class="list-inline-item profile-links"><img src="components/profile/images/tick.png" class="list-image">References</li>
                                <li class="list-inline-item profile-links"><img src="components/profile/images/tick.png" class="list-image">Contact Information</li>
                                <li class="list-inline-item profile-links"><img src="components/profile/images/tick.png" class="list-image">Background Checks</li>
                                <li class="list-inline-item profile-links"><button type="button" class="btn btn-primary">Upgrade</button></li>
                            </ul>
        </div>
</div>