
    <div class="container footer-data">
        <div class="footer-links">
            <ul class="list-inline">
                    <li class="list-inline-item"><a href="">Company</a></li>
                    <li class="list-inline-item"><a href="">About Us</a></li>
                    <li class="list-inline-item"><a href="">Investor Relations</a></li>
                    <li class="list-inline-item"><a href="">Sheilas Blog</a></li>
                    <li class="list-inline-item"><a href="">Help</a></li>
                    <li class="list-inline-item"><a href="">Safety Center</a></li>
                    <li class="list-inline-item"><a href="">Careers</a></li>
            </ul>
        </div>
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Terms of Use</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Privacy Policy</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="#">Care Directory</a>
                </li>
            </ol>
        </div>
        <div class="footer-content">
            <p>Care.com is the world's largest online destination for care. We connect families with caregivers and caring companies
                to help you be there for the ones you love.
            </p>
            <p>
                Care.com does not employ any care provider or care seeker nor is it responsible for the conduct of any care provider or care
                seeker. Care.com provides information and tools to help care seekers and care providers connect and make
                informed decisions. However, each individual is solely responsible for selecting an appropriate care provider
                or care seeker for themselves or their families and for complying with all applicable laws in connection
                with any employment relationship they establish. The information contained in member profiles, job posts
                and applications are supplied by care providers and care seekers themselves and is not information generated
                or verified by Care.com. Care.com does not provide medical advice, diagnosis or treatment or engage in any
                conduct that requires a professional license.
            </p>
            <p>
                Care.com and "There for you" are service marks or registered service marks of Care.com, Inc. © 2007-2017 Care.com, Inc. All
                rights reserved.
            </p>
            <p>
                Care.com® HomePaySM is a service provided by Breedlove and Associates, LLC, a Care.com company.
            </p>
        </div>
    </div>
